.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw
}
  
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}
  
.btn-novo {
    background-color: #0275d8;
    color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    position: fixed;
    bottom: 16px;
    right: 24px;
    transition: all 0.1s linear 0.1s;
    cursor: pointer;
}
  
.container button:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
    
}
.pag{
    margin-top: 3rem;
    margin: 3rem;
    background-color: antiquewhite;
    color:black;
    border-radius: 5px;
     cursor: pointer;
     width: 5rem;
     height: 2rem;
     border:  none;
}
    

  